/* CSS */

/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about new episodes.
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	font-size: 14px;
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2em; 
	margin: 20px 0 0 0;
}
p {
	margin: 0 0 10px 0;
}
article {
	text-align: center;
}
section {
	margin: 30px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 1px solid #bbb;
	padding: 20px;
	background-color: #ddd;
}
section > a {
	display: block;
	text-decoration: none;
	font-size: 1em;
	color: #999;
	width: 26%;
	margin: 0 10px 20px 10px;
	line-height: 1.2em;
	border: 1px solid #eee;
	padding: 0 5px 5px 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	overflow: hidden;
	background-color: #fff;
	transition: background-color .5s, color .5s, border-color .5s;
}
section > a img {
	width: 110%;
	display: block;
	margin: 0 -5px 10px -5px;
}
section > a:hover {
	background-color: #eee;
	color: #000;
	border-color: #fff;
}
footer {
	margin: 20px;
	color: #bbb;
}
footer a {
	color: #000;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}



label {
	display: inline-block;
	cursor: pointer;
	padding: 2px 20px;
	border: 1px solid #ccc;
	color: #aaa;
}





@media screen and (max-width:500px) {

	section > a {
		width: 38%;
	}
	
}











