/*  This file was provided as part of a weekly web design tutorial series.
	  Sign-up for our newsletter, at http://codifydesign.com/newsletter, to
	  be notified about each new episode of CSS Shorts  
*/

@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Abel');

html {
	line-height: 1.4em;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0 0 200px 0;
	font-family: 'Abel', sans-serif;
	background: #161a19 url(images/background.jpg) no-repeat right bottom fixed;
	background-size: 275px auto;
}

p {
	margin: 0;
	color: #fff;
}

form {
	width: 75%;
	margin: 25px auto 0 auto;
	color: rgba(255,255,255,.7);
}

form h1 {
	font-size: 2em;
	margin: 0 0 25px 0;
}

form div {
	margin: 0 0 15px 0;
	position: relative;
}

form > div:last-of-type {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

form input,
form textarea {
	padding: 5px 12px;
	outline: none;
	border: 1px solid rgba(0,0,0,0);
	width: 80%;
	color: #fff;
	font-size: .9em;
	background-color: rgba(255,255,255,.2);
}

form input[type="submit"] {
	width: auto;
	padding: 5px 20px;
	cursor: pointer;
	font-size: .8rem;
	color: #ffc800;
	border: 1px solid #ffc800;
	background-color: #161a19;
	margin-top: 20px;
}

label {
	display: block;
}

form input[type="checkbox"] {
	width: auto;
	position: relative;
	top: -2px;
}

form input[type="checkbox"] + label {
	display: inline;
	padding-left: 10px;
}




















