/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about each new episode of CSS Shorts  
*/


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	padding: 10px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background: #618b03 url(images/flower_background.jpg) no-repeat left bottom fixed;
	background-size: cover;
}

h2 {
	font-size: 1.7em;
	font-weight: 400;
	margin: 0 0 .2em 0;
}

p {
	margin: 0 0 1.5em 0;
}

article {
	margin: 80px 50% 0px 25px;
	width: 30%;
	padding: 20px 45px 30px 45px;
	text-align: left;
	border-radius: 15px;
	position: relative;
	background-color: rgba(245, 247, 250, 0.85);
	box-shadow: 0px 0px 10px rgba(29, 50, 19, 0.5);
}

form input[type|=submit] {
	font-size: .9em; color: #fff;
	border: none;
	background-color: #81b60b;
	padding: 10px 25px;
	margin: 25px 0px 5px 0px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-appearance: none;
}

form input[type|=radio] {
	outline: none;
}

form label {
	cursor: pointer;
}


















