/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com/newsletter, to
	be notified about new episodes.
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:900|Roboto');


html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #8ec1f1;
	line-height: 1.61;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.2rem;
	line-height: 1;
	letter-spacing: 2px;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #043a96;
}

h2 {
	font-size: 1.5rem;
	margin: 0 0 .5rem 0;
	font-family: 'Raleway', sans-serif;
	line-height: 1;
}

main {
	display: flex;
}

article {
	width: 60%;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	margin: 0 0 0 20px;
}

article img {
	width: 100%;
	margin: 10px 0;
}


aside {
	width: 40%;
	color: #fff;
	line-height: 1.2rem;	
	padding: 20px;
	background-color: #043a96;
}

aside h2 {
	letter-spacing: 1px;
}

aside img {
	width: 100%;
	margin: 0 15px 5px 0; 
}

aside p {
	margin: 0 0 40px 0;
}

aside a, aside a:visited {
	display: block;
	color: #b8dcff;
	margin-top: 6px;
}





























