/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about new episodes.
*/





html{
	font-size: 18px;
	line-height: 1.61;
	background-color: #fcdd5b;
	
}

body {
	
	margin: 0;
	padding: 0;
}


