/*  This file was provided as part of a weekly web design tutorial series.
    Sign-up for our newsletter at http://codifydesign.com/newsletter to
    be notified about new episodes.
*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');


html {
	font-size: 18px;
	color: #5d4107;
}

body {
	margin: 0;
	padding: 0;
	background: url(images/burlap_tile.jpg) repeat 0 0;
	font-family: 'Oswald', sans-serif;
}

h1  {
	margin: 1rem 0 1rem 0;
	font-size: 1.2rem;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
	color: #ae7e03;
}

h1 span {
	display: block;
	margin-top: 5px; 
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 2.5rem;
	font-style: normal;
	color: #5d4107;
}

article {
	padding: 10px 25px 20px 25px;
	background-color: #fff;
	background-color: rgba(255,255,255,.6);
}

footer {
	padding: 30px 30px 80px 25px;
	background-color: rgba(67,25,0,.85);
	color: rgba(255,255,255,.4);
	font-size: .9rem;
}

footer a {
	color: rgba(207,143,39,.9);
	white-space: nowrap;
}

































